@import url(styles.css) all;
body {
  margin: 0;
  background-color: var(--midnight-purple);
}

main {
  overflow: scroll;
}

h1 {
  margin-top: 3%;
  margin-left: 3%;
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  color: white;
  font-family: Montserrat;
}

p {
  margin: 0;
  text-align: left;
  font-size: 18;
}

.recipe-cards--wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: baseline;
  row-gap: 3%;
  column-gap: 3%;
  margin: 3%;
}

article {
  align-items: center;
  box-shadow: var(--subtle-purple-glow);
  border: 2px solid var(--electric-purple);
  border-radius: 5%;
  display: grid;
  height: auto;
  row-gap: 5px;
  width: 200px;
  background-color: var(--purple-gray);
  transition: all 0.2s ease;
}

.title > a {
  margin: 3%;
  text-align: left;
  font-weight: 700;
  font-size: 18;
  font-family: Montserrat;
  color: white;
}
.image-wrapper > img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

article:hover {
  border-radius: 5%;
  cursor: pointer;
  filter: drop-shadow(var(--purple-glow));
  transition: all 0.2s ease;
  transform: scale(1.02);
}

@media only screen and (max-width: 1600px) {
  .header-image {
    width: 350px;
    height: 350px;
  }
  h1 {
    font-size: 48px;
  }
}

ul {
  display: none;
}
