@import url(styles.css) all;
body {
  margin: 0;
  background-color: var(--midnight-purple);
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: visible;
}

h1 {
  margin-top: 3%;
  margin-left: 3%;
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  color: white;
  font-family: Montserrat;
}

p {
  margin: 0;
  text-align: left;
  font-size: 18;
}

.recipe-cards--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 3%;
  column-gap: 7%;
  margin: 3%;
  overflow: visible;
}

article {
  align-items: center;
  box-shadow: var(--subtle-purple-glow);
  border: 2px solid var(--electric-purple);
  border-radius: 5%;
  display: grid;
  height: auto;
  row-gap: 5px;
  width: 312px;
  background-color: var(--purple-gray);
  transition: all 0.2s ease;
  overflow: visible;
}

article:hover {
  border-radius: 5%;
  cursor: pointer;
  filter: brightness(1.1);
  transition: all 0.2s ease;
  transform: scale(1.02);
  overflow: visible;
}
.image-wrapper {
  position: relative;
  display: inline-block;
}
.heart {
  position: absolute;
  top: 5%;
  right: 23%;
  width: 5px;
  height: 5px;
  transform: scale(0.4);
}

.heart:before {
  position: absolute;
  top: 0;
  left: 80px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 80px;
  height: 125px;
  border-radius: 40px 40px 0 0;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  background-color: dimgrey;
  content: "";
  cursor: pointer;
  transition: background 0.4s;
}
.heart:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  width: 80px;
  height: 125px;
  border-radius: 40px 40px 0 0;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  background-color: dimgrey;
  content: "";
  cursor: pointer;
  transition: background 0.4s;
}

.heart.liked::before,
.heart.liked::after {
  background-color: #c728ff;
}
.heart.liked {
  animation: liked 0.4s ease;
}
@keyframes liked {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.4);
  }
}

.title {
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  font-weight: 700;
  font-size: 18;
  font-family: Montserrat;
  color: white;
}

.time-wrapper {
  /*  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;*/
}

.time-wrapper > p {
  text-align: left;
  font-family: Montserrat;
  font-size: 18;
  color: white;
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 3%;
  column-gap: 3%;
  /*  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;*/
}

.tag-wrapper > p {
  text-align: left;
  font-family: Montserrat;
  font-size: 18;
  color: #19162a;
  background-color: #15d6e4;
  border-radius: 15%;
}

.image-wrapper > img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width:100%;
  height: auto;
}

@media only screen and (max-width: 1600px) {
  .header-image {
    width: 350px;
    height: 350px;
  }
  h1 {
    font-size: 48px;
  }
}

ul {
  display: none;
}
