@import url(styles.css) all;
body {
  margin: 0;
  background-color: var(--midnight-purple);
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: visible;
}

h1 {
  margin-top: 3%;
  margin-left: 3%;
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  color: white;
  font-family: Montserrat;
}

p {
  margin: 0;
  text-align: left;
  font-size: 18;
}

.recipe-cards--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 3%;
  column-gap: 7%;
  margin: 3%;
  overflow: visible;
}

.search-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offset-toggle{
  display: flex;
  justify-content: space-between;
  margin-right: 9.5%;
}

.page-button{
  margin-left: 12px;
  border-width: 0;
  color:white;
  font-size:16px;
  padding: 10px 20px;
  background-color: var(--electric-purple);
  border-radius: 15px;
  font-weight: 600;
}

.page-button:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  transform: scale(1.02);
  box-shadow: var(--subtle-purple-glow);
}

#recipe-type {
  border:transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3%;
  padding: 0;
}

input {
  margin-right: .5%;
  margin-left: 0;
}

label {
  margin-right: 16px;
  color: white;
  font-weight: 700;
  font-family:('Montserrat');
}

.filter-pinned {
  margin-top: .5%;
  margin-left: 3%;
}

article {
  align-items: center;
  box-shadow: var(--subtle-purple-glow);
  border: 2px solid var(--electric-purple);
  border-radius: 5%;
  display: grid;
  height: auto;
  row-gap: 5px;
  width: 312px;
  background-color: var(--purple-gray);
  transition: all 0.2s ease;
  overflow: visible;
}

article:hover {
  border-radius: 5%;
  cursor: pointer;
  filter: brightness(1.1);
  transition: all 0.2s ease;
  transform: scale(1.02);
  overflow: visible;
}
.image-wrapper {
  position: relative;
  display: inline-block;
  width: 312px;
}
.heart {
  position: absolute;
  top: 5%;
  right: 23%;
  width: 5px;
  height: 5px;
  transform: scale(0.4);
}

.heart:before {
  position: absolute;
  top: 0;
  left: 80px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 80px;
  height: 125px;
  border-radius: 40px 40px 0 0;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  background-color: dimgrey;
  content: "";
  cursor: pointer;
  transition: background 0.4s;
}
.heart:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  width: 80px;
  height: 125px;
  border-radius: 40px 40px 0 0;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  background-color: dimgrey;
  content: "";
  cursor: pointer;
  transition: background 0.4s;
}

.heart.liked::before,
.heart.liked::after {
  background-color: var(--electric-purple);
}
.heart.liked {
  animation: liked 0.4s ease;
}
@keyframes liked {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.4);
  }
}

.title {
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  font-weight: 700;
  font-size: 18;
  font-family: Montserrat;
  color: white;
}

.time-wrapper {
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.time-wrapper > img {
  display: inline-block;
  height: 24px;
  width: auto;
  margin-right: 2%;
  content: url(../assets/cooktime.png);
}

.time-wrapper > p {
  text-align: left;
  font-family: Montserrat;
  font-size: 18;
  color: white;
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 3%;
  column-gap: 3%;
  /*  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;*/
}

.tag-wrapper > p {
  text-align: left;
  font-family: Montserrat;
  font-size: 18;
  color: #19162a;
  background-color: #15d6e4;
  border-radius: 15%;
}

.image-wrapper > img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  object-fit: cover;
  max-width: 100%
}

.loading {
  max-height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading{
  font-size: 32px;
  font-family: Montserrat;
  color: white;
  margin-left: 2%;
}

.loader {
  border: 8px solid var(--purple-gray);
  border-top: 8px solid var(--electric-blue); 
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);
}

@media only screen and (max-width: 1600px) {
  .header-image {
    width: 350px;
    height: 350px;
  }
  h1 {
    font-size: 48px;
  }
}

ul {
  display: none;
}
