@import url(styles.css) all;
body {
  margin:0;
  background-color:var(--midnight-purple);
  overflow:hidden;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 500px var(--midnight-purple) inset;
}
.grd-brdr {
  border: solid 0.15vw transparent;
  border-radius: 7px;
  background-image: linear-gradient(var(--midnight-purple), var(--midnight-purple)), 
                    linear-gradient(var(--electric-purple), var(--violet-purple));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.grd-brdr > * {
  background-color: transparent;
  border: 0;
}
.text-input > * {
  color:white;
}
.text-input > *:focus {
  outline: none;
}
.ing-instr {
  font-family: "Montserrat";
  font-size: 3vh;
  text-align: center;
  margin-bottom: 2vh;
  color:white;
}
.grd-brdr:focus {
  outline: none;
}
.url-section {
  width: 42vw;
  height: 7vh;
  display:flex;
  align-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 0vh 5vw 0vh 5vw;
}
.big-button {
  margin-top: 2vh;
  width: 12vw;
  height: 7vh;
  font-size: 2vmin;
  font-family: 'Montserrat';
}
.big-button:hover {
  cursor: pointer;
  box-shadow: var(--subtle-purple-glow);
}
#current-name {
  width: 30vw;
  height: 10vh;
  font-size: 3.25vh;
  color:white;
  font-family: 'Montserrat';
}

.middle {
  /* border: 3px double #4C4C4C; */
  height: 65vh;
  padding: 5vh 5vw 0vh 5vw;
}

/* The first page and all of its elements */
.page-one {
  display: flex;
  justify-content: space-between;
}
.left-half {
  width: 42vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
#recipe-pic {
  width: 42vw;
  height: 50vh;
}
#pic-wrap {
  width: 41.5vw;
  height: 49.5vh;
  border-radius: 15px;
  overflow: hidden;
}
#pic-url {
  width: 32vw;
  height: 6.25vh;
  font-size: 2vmin;
}
#pic-button {
  font-size: 4vmin;
  width: 9vw;
  height: 7vh;
}
.right-half {
  width: 42vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
#name-box {
  width: 42vw;
  height: 6.25vh;
  font-size: 2vmin;
}
#desc-box {
  width: 42vw;
  height: 35vh;
  font-size: 2.25vmin;
}
#tag-box {
  width: 42vw;
  height: 6.25vh;
  font-size: 2vmin;
}
#baseline-url {
  width: 32vw;
  height: 6.25vh;
  font-size: 2vmin;
}
#baseline-button {
  font-size: 4vmin;
  width: 9vw;
  height: 7vh;
}

/* The second page and all of its elements */
.page-two {
  width: 90vw;
  height: 55vh;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
#ing-box {
  overflow: auto;
  height: 40vh;
  width: 85vw;
}
#ing-bottom {
  width: 85vw;
  display:flex;
  justify-content: right;
}
#ing-button {
  font-size: 4vmin;
}

/* The third page and all of its elements */
.page-three {
  width: 90vw;
  height: 55vh;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
#instr-box {
  overflow: auto;
  height: 40vh;
  width: 85vw;
}
#instr-bottom {
  width: 85vw;
  display:flex;
  justify-content: right;
}
#instr-button {
  font-size: 4vmin;
}

/* The third page and all of its elements */
.page-four {
  display: flex;
  justify-content: space-between;
}
#time-box {
  width: 42vw;
  height: 6.25vh;
  font-size: 2vmin;
}
#serving-box {
  width: 42vw;
  height: 6.25vh;
  font-size: 2vmin;
}
#recipe-vid {
  width: 42vw;
  height: 50vh;
}
#pin-section {
  display: flex;
  justify-content: space-evenly;
}
#pin-text {
  font-family: 'Montserrat';
  font-size: 3vmin;
  color:white;
}
.heart {
  content: '&hearts';
}
#vid-url {
  width: 32vw;
  height: 6.25vh;
  font-size: 2vmin;
}
#vid-button {
  font-size: 4vmin;
  width: 9vw;
  height: 7vh;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0vh 5vw 0vh 5vw;
}
.box-group {
  display: flex;
  list-style-type: none;
}
.progress-box {
  height: 2.5vmin;
  width: 2.5vmin;
  background-color: var(--muted-purple);
  margin: 0 1vw;
  transition: all 0.15s ease-in-out;
} 
.progress-box:hover {
  cursor: pointer;
}
.active-box {
  background-color: var(--electric-purple);
}
#back-button {
  border: solid 0.15vw var(--electric-purple);
  color: white;
  background-color: transparent;
}
#next-button {
  border: none;
  color: white;
  background-color: var(--electric-purple);
}
.fade {
  visibility: hidden;
}

.hidden {
  display: none;
}  
