@import url(styles.css) all;

body {
  max-width:100vw;
  height: 100vh;
  font-family: sans-serif;
  overflow: scroll;
}

.nav-bar {
    position: sticky;
    max-width: 100vw;
    height: 80px;
    overflow: hidden;
    background-color: var(--midnight-purple);
    display: grid;
    grid-template-columns: 50px 1fr 1fr 8fr 1fr 1fr 50px;
    grid-template-rows:auto;
    column-gap: 20px;
    z-index: 10;
    grid-template-areas: 
    ". logo . search . icon .";
}

#logo {
    margin-top: 10px;
    grid-area: logo;
    text-align: center;
    padding: 10px 10px;
}

.search-container {
    margin-top: 25px;
    grid-area: search;
}

.search-container form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  /* Style the search box inside the navigation bar */
#search-bar {
    background-color: white;
    color: #4C4C4C;
    padding: 8px;
    border: none;
    font-size: 18px;
    width:90%;
    margin:0;
    border-radius: 12px 0 0 12px;
}

#search-button {
    box-sizing: border-box;
    margin:0;
    background-color: var(--electric-purple);
    width: 38px;
    height:38px;
    border-width:0;
    background-size:24px;
    background-image: url("../assets/search.png");
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 0 12px 12px 0;
}

.hamburger-icon{
    margin-top: 25px;
    grid-area: icon;
    height: 28px;
    width: 28px;
    display: inline-block;
}
.hamburger-icon span{
    display: block;
    background: white;
    width: 100%;
    height: 4px;
}
.hamburger-icon:before,
.hamburger-icon:after {
    content: "";
    display: block;
    background: white;
    width: 100%;
    height: 4px;
    transform-origin: center center;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}
.hamburger-icon:before {
    margin-bottom: 6px;
}
  
.hamburger-icon:after {
    margin-top: 6px;
}
.hamburger-icon.hamburger-shown span {
    background: transparent;
}
  
.hamburger-shown.hamburger-icon:before {
    transform: translateY(10px) rotate(45deg);
}
  
.hamburger-shown.hamburger-icon:after {
    transform: translateY(-10px) rotate(-45deg);
  }

.hamburger-menu {
    padding:0;
    display: none;
    margin:0;
    right:0;
    position: absolute;
    background-color: var(--midnight-purple);
    text-align: left;
    z-index: 5;
    transition: all .4s ease-in-out;
}

.hamburger-menu li {
    width: 200px;
    padding: 10px 40px;
    display: block;
    text-decoration: none;
    color:black;
    font-size: 24px;
    font-weight: 500;
    border-spacing: 1px;
    line-height: 250%;
}

.active{
    background-color: var(--purple-gray);
}

.hamburger-menu li a{
    text-decoration: none;
}

.hamburger-menu li a:hover{
    text-shadow: var(--white-purple-glow);
}

.recipe-menu {
  margin-left:20px;
}

li img {
  margin-right: 16px;
  width:27px;
  height: auto;
}
a:visited {
    color: white; 
}