body {
  margin: 0;
  height: 100%;
  background-color: #181629;
  color: white;
}
main {
  margin: 5vh 200px;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20vh;
  grid-template-rows: auto;
  grid-template-areas: ". header-image header-image header-image header-image header-image header-text header-text header-text header-text  header-text .";
  font-family: "Montserrat", sans-serif;
}

.header-image {
  grid-area: header-image;
  width: calc(100vw);
  height: calc(400px);
  background-color: #e5e5e5;
  border: black solid 1px;
}

.header-text {
  grid-area: header-text;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  right: 0;
}

.cooktimeAndServing {
  justify-content: right;
  font-size: 60px;
}

.heart {
  background: url("/source/assets/heart_transparent.png");
  background-size: 40px;
  height: 36px;
  width: 40px;
  display: block;
  align-items: right;
  position: relative;
  border: none;
  padding: 0;
  margin-left: 96%;
  /* Other styles here */
}

.heart:hover {
  background-color: #41355b;
}

.heart:active {
  background-color: #181629;
}

.cooktime {
  background: url("/source/assets/cooktime.png");
  background-size: 27px;
  height: 27px;
  width: 27px;
  display: block;
}

.servings {
  background: url("/source/assets/servings.png");
  background-size: 27px;
  height: 27px;
  width: 27px;
  display: block;
}

.portions {
  display: flex;
}

.portions-text {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 40px;
}

.section {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-size {
  width: 50%;
}

h1 {
  text-align: left;
  justify-content: left;
  font-size: 64px;
  font-weight: 550;
}

h2 {
  font-weight: 320;
  font-size: 54px;
}

p {
  margin: 0;
  text-align: left;
  font-size: 18px;
}

small {
  margin-top: 30vw;
  font-size: 18px;
}

video {
  width: 100%;
  height: 56.25%;
  margin-top: 21.875%;
}

li {
  border-spacing: 1px;
  line-height: 250%;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 1600px) {
  .header-image {
    width: 100%;
    height: 350px;
    background: linear-gradient(#181629, #41355b);
  }
  h1 {
    font-size: 48px;
  }
}

#delete-button {
  visibility: hidden;
}
