@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
/* 
    Variables representing the styles used in the final design.
    To use these, add '@import url(styles.css) all;' to the top of your CSS file.
    Then add the respective variable to any css style.
    Ex. box-shadow: var(--purple-glow);
    More styles may be added in the future.
*/

:root{
    font-family: 'Montserrat', sans-serif;
    --electric-purple: #C728FF;
    --electric-blue: #14F1FF;
    --midnight-purple: #181629;
    --purple-gray: #41355B;
    --white-purple-glow:
        0 0 7px rgba(255,255,255,.5),
        0 0 10px rgba(255,255,255,.5),
        0 0 21px rgba(255,255,255,.5),
        0 0 42px rgba(199,40,255,.5),
        0 0 82px rgba(199,40,255,.5),
        0 0 92px rgba(199,40,255,.5),
        0 0 102px rgba(199,40,255,.5),
        0 0 151px rgba(199,40,255,.5);
    --subtle-white-purple-glow:
        0 0 7px rgba(255,255,255,.25),
        0 0 10px rgba(255,255,255,.25),
        0 0 21px rgba(255,255,255,.25),
        0 0 42px rgba(199,40,255,.25),
        0 0 82px rgba(199,40,255,.25),
        0 0 92px rgba(199,40,255,.25),
        0 0 102px rgba(199,40,255,.25);
    --purple-glow:
        0 0 7px rgba(199,40,255,.5),
        0 0 10px rgba(199,40,255,.5),
        0 0 21px rgba(199,40,255,.5),
        0 0 42px rgba(199,40,255,.5),
        0 0 82px rgba(199,40,255,.5),
        0 0 92px rgba(199,40,255,.5),
        0 0 102px rgba(199,40,255,.5),
        0 0 151px rgba(199,40,255,.5);
    --subtle-purple-glow:
        0 0 7px rgba(199,40,255,.25),
        0 0 10px rgba(199,40,255,.25),
        0 0 21px rgba(199,40,255,.25),
        0 0 42px rgba(199,40,255,.25),
        0 0 82px rgba(199,40,255,.25),
        0 0 92px rgba(199,40,255,.25),
        0 0 102px rgba(199,40,255,.25);
    --blue-glow:
        0 0 7px  rgba(20,241,255,.5),
        0 0 10px rgba(20,241,255,.5),
        0 0 21px rgba(20,241,255,.5),
        0 0 42px rgba(20,241,255,.5),
        0 0 82px rgba(20,241,255,.5),
        0 0 92px rgba(20,241,255,.5),
        0 0 102px rgba(20,241,255,.5),
        0 0 151px rgba(20,241,255,.5);
    --subtle-blue-glow:
        0 0 7px  rgba(20,241,255,.25),
        0 0 10px rgba(20,241,255,.25),
        0 0 21px rgba(20,241,255,.25),
        0 0 42px rgba(20,241,255,.25),
        0 0 82px rgba(20,241,255,.25),
        0 0 92px rgba(20,241,255,.25),
        0 0 102px rgba(20,241,255,.25),
        0 0 142px rgba(20,241,255,.25);
}

